// variable file
$lBlue:  #C7F7FF;
$mBlue:    #89C0C9;
$dBlue:   #3a5E63;
$lBrown: #C9A689;
$dBrown:  #7C593C;
$lGrey:  #d4d4d4;
$dGrey:   #222;
$white: #fff;

$font-sans-serif : "Josefin Sans", "Trebuchet MS", Helvetica, sans-serif;

$font-serif: Cardo, "Palatino Linotype", "Book Antiqua", Palatino, serif;


$mobile-width: 701px;
$tablet-width: 901px;
$desktop-width: 1401px;
